<h2><a href="#list">Edit</a></h2>

<h2>{{data.Name}}</h2>
<div ng-repeat="item in data.GridElements">
	{{item.Content}}	
</div>
	
<input type="text" ng-model="newName"/>
<button ng-click="add()">pridat</button>
