<style>
	.hider
	{
		display: none;
	}
</style>
<div class="row row-gridpages header">
	<div class="span5">
		<span class="font-icon">&nbsp;</span>
		<a href="#" class="btn btn-link align-left">Jméno</a>
	</div>
	<div class="span4 btn-block">
		<a href="#" class="btn btn-link align-left" style="padding-left: 0px">Link</a>
	</div>
	<div class="span3 hider">
	</div>
</div>
<div class="row row-gridpages color" ng-repeat="grid in data" ngc-hover="">
	<div class="span5">
		<span class="font-icon {{grid.Category}}"></span>
		<a href="#/{{getLink(grid)}}" class="btn btn-link align-left">{{grid.Name}}</a>
	</div>
	<div class="span4">
		<span class="admin-inline-block">{{grid.Link}}</span>
	</div>
	<div class="span3 hider">
		<button ng-hide="grid.Edit" ng-click="edit(grid)" class="btn font-icon edit" />
		<button ng-show="grid.Edit" ng-click="save(grid)" class="btn font-icon ok" />
		<button ng-click="remove(grid)" class="btn font-icon delete" />

		<a href="/client/json/@ViewBag.ApplicationId/{{grid.Link}}">viewJson</a>
	</div>
</div>
<p></p>


<div class="row row-gridpages " ng-show="!createNew" ng-hide="createNew">
	<div class="span3">
		<button ng-click="addclick()" type="submit" class="btn">Přidat Nový</button>
	</div>
</div>

<form class="row row-gridpages form-inline" ng-show="createNew" ng-hide="!createNew">
	<div class="span5 admin-inline-block">
		<div class="btn-group">
			<span class="font-icon {{newitem.Category}} btn"></span>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#" ng-click="selectNewitemType('Menu', $event)" class="font-icon menu">menu</a> </li>
				<li><a href="#" ng-click="selectNewitemType('Page', $event)" class="font-icon page">stránka</a></li>
			</ul>
		</div>
		<input type="text" placeholder="Jméno" ng-model="newitem.Name">
	</div>
	<div class="span4 admin-inline-block">
		<input type="text" placeholder="Link" ng-model="newitem.Link">
	</div>

	<div class="clearfix"></div>

	<div class="span3">
		<button ng-click="add()" type="submit" class="btn">Ok</button>
		<button ng-click="addCancel()" type="submit" class="btn">Cancel</button>
	</div>

</form>
