<p>&nbsp;</p>

<div id="admin-gridpages">

	<div ng-show="data.length == 0">
		<h3 class="text-error">nemáte žádné stránky, vytvořte novou.</h3>
	</div>
	<div ng-show="!data">
		<h3><img ngc-loader /></h3>
	</div>
	<div class="row row-gridpages color" ng-repeat="grid in data" ngc-hover="">
		<div class="span5">
			<div style="width: 5px; background-color: {{authColor(grid)}}; height: 47px; float: left">&nbsp;</div>
			<span style="width: 2em" class="font-icon  {{grid.Category}}" tooltip="{{authTooltip(grid)}}" tooltip-popup-delay='300'></span>

			<input ng-show="grid.Edit" type="checkbox" ng-model="grid.Authorize"
				tooltip-popup-delay='600'
				tooltip-html-unsafe="<div style='text-align:left'><b>Autorizace</b><div> <div style='text-align:left'>pokud je zaškrtnuto tak je obsah zobrazen jen po přihlášení</div>" />

			<a ng-hide="grid.Edit" href="#/{{getLink(grid)}}" class="btn btn-link align-left" style="max-width:290px">{{grid.Name}}</a>
			<span ng-show="grid.Edit" class="gridpage-input">cultureCtrl
				<input ng-model="grid.Name" required />
			</span>
		</div>
		<div class="span4">
			<div ng-hide="grid.Edit" class="gridpage-text">
				{{grid.Link}}
			</div>
			<div ng-show="grid.Edit" class="gridpage-input">
				<input ng-model="grid.Link" required />
			</div>
		</div>
		<div class="span3" ng-class="editModeClass(grid)">
			<div class="btn-group">
				<button class="btn" ng-hide="grid.Edit" ng-click="edit(grid)" tooltip-popup-delay='500' tooltip="editace">
					<i class="icon-pencil"></i>
				</button>
				<button class="btn btn-success" ng-show="grid.Edit" ng-click="save(grid)">
					<i class="icon-ok"></i>
				</button>
				<a class="btn" href="#" ng-click="remove(grid)" tooltip-popup-delay='500' tooltip="delete"><i class="icon-trash"></i></a>
			</div>
			<a class="btn" href="{{aaa(grid)}}" target="_blank" tooltip-placement="top" tooltip="data preview - XML"><i class="icon-align-justify"></i></a>
		</div>
	</div>

	<div class="row row-gridpages newitem" style="padding-top: 5px; padding-bottom: 5px;">
		<form name="form" ng-submit="newItemAdd()">
			<div class="span5">
				<div style="margin-left: 4em; margin-top: 10px;" ngc-click-edit="newitem.Name"
					template-preview="#preview"
					template-edit="#edit"
					placeholder="jméno stránky">
				</div>
			</div>
			<div class="span4">
				<div ngc-click-edit="newitem.Link"
					template-preview="#preview"
					template-edit="#edit"
					style="margin-top: 10px;"
					placeholder="odkaz">
				</div>
			</div>
			<div class="span2">
				<button ng-disabled="form.$invalid" class="btn btn-success " type="submit">přidat</button>
			</div>
		</form>
	</div>
</div>

<script id="preview" type="text/ng-template">
	<span ng-click="showEdit()" class="ngc-click-edit-preview" ng-hide="$parent.newItemEdit" ng-bind="ngcClickEdit"></span>
</script>

<script id="edit" type="text/ng-template">
	<input  ui-keydown="{ esc : 'showPreview()' }"
			class='ngc-click-edit-input'
		   ng-show="$parent.newItemEdit"
		   ng-model="ngcClickEdit"
		   required/>
</script>
