<style>
	.www
	{
		background-color: greenyellow;
	}
</style>

<div class="row">
	<div class="span4 www">...</div>
	<div class="span8 www">
		<div class="row">
			<div class="span4 www">444</div>
			<div class="span4 www">44</div>
		</div>


	</div>
</div>


<div class="gridpage" ng-controller="gridPage">
	<h2>{{data.Name}}</h2>

	<div class="row">
		<div ng-repeat="gridelement in data.GridElements"
			class="span{{gridelement.Width}}"
			ng-click="edit(gridelement)"
			ng-class="{contentitem: gridelement.Id != 0}"
			title="{{gridelement.Type}}">

			<div ng-show="gridelement.Id">
				<button ng-click="remove(gridelement)" class="btn btn-mini font-icon delete" />
				<div gridelement="gridelement" grid="data"></div>
			</div>

			<div ng-show="gridelement.Edit">
				<div gridelement="gridelement" grid="data" admin="1"></div>
				<button class="btn btn-small" ng-click="save(gridelement)">Uložit</button>
				<p></p>
			</div>

		</div>
	</div>

	<div>
		<div class="btn-group">
			<button ng-click="add(newItem, data.Id, data.GridElements)" class="btn">{{newItem.Type}}</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#" ng-click="addWithType(newItem, data.Id, data.GridElements, 'text', $event )">textxx </a></li>
				<li><a href="#" ng-click="addWithType(newItem, data.Id, data.GridElements, 'novinka', $event )">novinka </a></li>
				<li><a href="#" ng-click="addWithType(newItem, data.Id, data.GridElements, 'simplehtml', $event )">simple HTML </a></li>
				<li><a href="#" ng-click="addWithType(newItem, data.Id, data.GridElements, 'reference', $event )">Reference </a></li>
				<li><a href="#" ng-click="addWithType(newItem, data.Id, data.GridElements, 'gdataalbum', $event )">GData Album</a></li>
			</ul>
		</div>
	</div>

</div>
