<p></p>

<div class="row row-gridpages form-inline" ng-repeat="grid in data">
	<div class="span3">
		<a href="#/{{getLink(grid)}}" class="btn btn-link align-left">{{grid.Name}}
		</a>
	</div>
	<div class="span3 admin-inline-block">
		@*<input type="text" placeholder="Link" ng-model="newitem.ResourceDto.Value">*@
		<span class="admin-inline-block">{{grid.ResourceDto.Value}}</span>
	</div>
	<div class="span3">
		<button ng-hide="grid.Edit" ng-click="edit(grid)" class="btn">
			<i class="icon-pencil"></i>
		</button>
		<button ng-show="grid.Edit" ng-click="save(grid)" class="btn">
			<i class="icon-ok"></i>
		</button>

		<button ng-click="remove(grid)" class="btn">
			<i class="icon-trash"></i>
		</button>

		<a href="/client/@ViewBag.Application/{{grid.ResourceDto.Value}}">viewhtml</a> |
		<a href="/client/json/@ViewBag.ApplicationId/{{grid.ResourceDto.Value}}">viewJson</a>
	</div>
</div>
<p></p>



<div class="span3" ng-show="!createNew" ng-hide="createNew">
	<button ng-click="addclick()" type="submit" class="btn" >Přidat Nový</button>
</div>

<form class="row row-gridpages xxx form-inline"  ng-show="createNew" ng-hide="!createNew">
	<div class="span3 admin-inline-block">
		<input type="text" placeholder="Name" ng-model="newitem.Name">
	</div>
	<div class="span5 admin-inline-block">
		<input type="text" placeholder="Link" ng-model="newitem.ResourceDto.Value">
	</div>
	
	<div class="clearfix"> </div>
	
	<div class="span3">
		<button ng-click="add()" type="submit" class="btn" >Ok</button>
		<button ng-click="addclick()" type="submit" class="btn" >Cancel</button>
	</div>
	
</form>

@*<div ng-show="createNew" ng-hide="!createNew">

	<table>
		<tr>
			<td>Jméno:</td>
			<td>
				<input type="text" ng-model="newitem.Name" /></td>
		</tr>
		<tr>
			<td>Link:</td>
			<td>
				<input type="text" ng-model="newitem.ResourceDto.Value" /></td>
		</tr>

	</table>
	<button ng-click="add()">Ok</button>
	<button ng-click="createNewCancel()">Cancel</button>
</div>


*@

@*<table>
	<tr ng-repeat="grid in data">
		<td>
			<a href="#/{{getLink(grid)}}" class="btn btn-link align-left">{{grid.Name}}
			</a>
		</td>
		<td ng-hide="grid.Edit">{{grid.ResourceDto.Value}}
		</td>
		<td ng-show="grid.Edit">
			<input type="text" ng-model="grid.ResourceDto.Value" />
		</td>
		<td>

			<button ng-hide="grid.Edit" ng-click="edit(grid)" class="btn">
				<i class="icon-pencil"></i>
			</button>
			<button ng-show="grid.Edit" ng-click="save(grid)" class="btn">
				<i class="icon-ok"></i>
			</button>

			<button ng-click="remove(grid)" class="btn">
				<i class="icon-trash"></i>
			</button>
		</td>
		<td>
			<a href="/client/@ViewBag.Application/{{grid.ResourceDto.Value}}">viewhtml</a> |
			<a href="/client/json/@ViewBag.ApplicationId/{{grid.ResourceDto.Value}}">viewJson</a>
		</td>
	</tr>
</table>*@
