<div class="gridpage">
	<h2>{{data.Name}}</h2>

	<div ng-repeat="line in data.Lines" class="row">
		<div ng-repeat="gridelement in line" 
			class="span{{gridelement.Width}}" 
			ng-controller="gridElementCtrl" 
			ng-click="edit(gridelement)" 
			ng-class="{contentitem: gridelement.Id != 0}"
			title="{{gridelement.Type}}">

			<div ng-show="gridelement.Id == 0">
				<div class="btn-group">
					<button ng-click="add(gridelement, data.Id, data.Lines)" class="btn">{{gridelement.Type}}</button>
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" ng-click="addWithType(gridelement, data.Id, data.Lines, 'text', $event )">text </a></li>
						<li><a href="#" ng-click="addWithType(gridelement, data.Id, data.Lines, 'textlocalized', $event )">textlocalized </a></li>
						<li><a href="#" ng-click="addWithType(gridelement, data.Id, data.Lines, 'novinka', $event )">novinka </a></li>
						<li><a href="#" ng-click="addWithType(gridelement, data.Id, data.Lines, 'simplehtml', $event )">simple HTML </a></li>
						<li><a href="#" ng-click="addWithType(gridelement, data.Id, data.Lines, 'reference', $event )">Reference </a></li>
					</ul>
				</div>
			</div>

			<div ng-show="gridelement.Id">
				<button ng-click="remove(gridelement, data.Id)" class="btn btn-mini font-icon delete" />
				<div gridelement="gridelement" grid="data"></div>
			</div>

			<div ng-show="gridelement.Edit">
				<div gridelement="gridelement" grid="data" admin="1"></div>
				<button class="btn btn-small" ng-click="save(gridelement)">Uložit</button>
				<p></p>
			</div>

		</div>
	</div>
</div>
