<table>
	<tr ng-repeat="grid in data">
		<td>
			<a href="#/{{getLink(grid)}}"> {{grid.Name}}</a> 
		</td>
		<td ng-hide="grid.Edit">
			{{grid.ResourceDto.Value}}
		</td>
		<td ng-show="grid.Edit">
			<input type="text" ng-model="grid.ResourceDto.Value"/>
		</td>
		<td>
			
			<button ng-hide="grid.Edit" ng-click="edit(grid)" class="btn">
				<i class="icon-pencil" ></i>
			</button>
			<button ng-show="grid.Edit" ng-click="save(grid)"  class="btn">
				<i class="icon-ok" ></i>
			</button>
			
			<button ng-click="remove(grid)"  class="btn">
				<i class="icon-trash" ></i>
			</button>
		</td>
		<td>
			<a href="/client/@ViewBag.Application/{{grid.ResourceDto.Value}}">viewhtml</a> |
			<a href="/client/json/@ViewBag.ApplicationId/{{grid.ResourceDto.Value}}">viewJson</a>
		</td>
	</tr>
</table>
<button ng-click="addclick()"  type="button" class="btn" data-toggle="button">Přidat</button>

<div ng-show="createNew" ng-hide="!createNew" >
	<h2>new</h2>
	<table>
		<tr>
			<td>Jméno:</td>
			<td><input type="text" ng-model="newitem.Name" /></td>
		</tr>	
		<tr>
			<td>Link:</td>
			<td><input type="text" ng-model="newitem.ResourceDto.Value" /></td>
		</tr>

	</table>
	<button ng-click="add()">Ok</button>
	<button ng-click="createNewCancel()">Cancel</button>
</div>




