<h2>{{data.Name}}</h2>


<div ng-repeat="line in data.Lines">
	
	<span ng-repeat="item in line">
		{{item.Id}} | {{item.Width}} .
		<button ng-click="edit(item)">edit</button>
		<button ng-click="remove(item)">smazat</button>
		<div gridelement  ></div>
	</span>
	<hr />
</div>
	
<input type="text" ng-model="newName"/>
<button ng-click="add()">pridat</button>
