<div class="gridpage">
	<h2>{{data.Name}}</h2>

	<div ng-repeat="line in data.Lines" class="row">
		<div ng-repeat="item in line" class="span{{item.Width}}">
			<div gridelement="item" grid="data"></div>
		</div>
	</div>
</div>
