<p>...............................................</p>
	<div ng-repeat="line in data">
		<div>
			<a href="#/gridpage/{{line.Id}}"> {{line.Name}}</a> 
			<button ng-click="remove()">Smazat</button>
		</div>
		<input type="text" ng-model="newName"/>
		<button ng-click="add()" >Pridat</button>
	</div>




