<p>...............................................</p>
<table>
<tr ng-repeat="line in data">
			<td>
			<a href="#/gridpage/{{line.Id}}"> {{line.Name}}</a> 
			</td>
			<td><button ng-click="remove(line)">Smazat</button></td>
	</tr>
</table>
<input type="text" ng-model="newName"/>
<button ng-click="add()" >Pridat</button>




