<script type="text/ng-template" id="tree_item_rendereSortable.html">
	<div ui-sortable-html="sortable" ng-model="item" class="sortableCtrl">
		<div menuitem="item" grid="data" ></div> 
	</div>
</script>
<ul class="ggg container_12 container ">
	<li  ng-repeat="item in data.Children" ng-include="'tree_item_rendereSortable.html'" class="grid_{{item.Width * 4 || 4 }}" >

	</li>
</ul>

