<script type="text/ng-template" id="tree_item_renderer.html">
	<li ui-dropable-html="sortable,pageslist" ng-model="item" class="dropableCtrl" >.</li>
	<li ui-dropable-html="sortable,pageslist" ng-show="$index % 3 == 0 && !$first" ng-model="item" class="dropableCtrl" >-</li>
	<li ui-draggable-html="sortable" 
		 draggable="true" ng-model="item" 
		 ng-class="item.prdel" class="draggableCtrl">
		<div menuitem="item" grid="data" ></div> 
	</li>
	<li ui-dropable-html="sortable,pageslist" ng-show="$last" ui-config={last:true} class="dropableCtrl"  ng-model="item"></li>
</script>
<script type="text/ng-template" id="tree_item_rendererdiv.html">
	<div ui-dropable-html="sortable,pageslist" ng-model="item" class="dropableCtrl" ></div>
	<div ui-draggable-html="sortable" 
		 draggable="true" ng-model="item" 
		 ng-class="item.prdel" class="draggableCtrl">
		<div menuitem="item" grid="data" ></div> 
	</div>
	<div ui-dropable-html="sortable,pageslist" ng-show="$last" ui-config={last:true} class="dropableCtrl"  ng-model="item"></div>
</script>

<style>
	
	
</style>
<div class="row-fluid " >
	<div class="span4 menu2">
		<ul class="ggg">
			@*<ng-include  ng-repeat="item in data.Children" src="'tree_item_renderer.html'"  >

			</ng-include>*@
			<li  ng-repeat="item in data.Children" ng-include="'tree_item_rendererdiv.html'" >

			</li>


		</ul>
	</div>
	<br clear="all" />
	<div class="span3">
		<ul>
			<li ng-repeat="g in grids">
				<div class="menuitem" ui-draggable-html="pageslist" ng-model="g">...</div>
			</li>
		</ul>
	</div>
</div>
