<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="EfContext" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=ladesopekloTESTS;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="DefaultJsonBootstrap" value="default_bootstrap.json" />
	</appSettings>

</configuration>