<form ng-submit="addNewGroup()" class="group-element" >
	<table>
		<tr class="group-item" ng-repeat="group in ngcEditableList">
			<td valign="top"><i class="fa fa-minus fa-small"></i></td>
			<td>
				<div ngc-click-edit-input="group.name" ></div>
			</td>
			<td valign="top"><i ng-click="deleteGroup(group.id)" class="fa fa-times fa-action"></i></td>
		</tr>
		<tr >
			<td valign="top"></td>
			<td colspan="2"><input ng-model="newGroupName" type="text" placeholder="přidat další" required /> <input type="submit" style="position:absolute;left:-5000px"></td>
		</tr>
	</table>
</form>
