<ul>
	
	<li>
		@Html.ActionLink("DropAndCreateTables", "DropAndCreateTables")
	</li>
	<li>
		@Html.ActionLink("DropAndCreateAlwaysForce", "DropAndCreateAlwaysForce")
	</li>
	<li>
		@Html.ActionLink("MigrateDatabaseToLatestVersion", "MigrateDatabaseToLatestVersion")	
	</li>
</ul>
