@model List<ApplicationSetting>
@{
	Layout = "../_AdminTemplates/_Layout_Appllication.cshtml";
	ViewBag.Title = "Register";
}

@foreach (var item in @Model)
{
	<h3>@Html.ActionLink(item.Name, "ApplicationDetail", new {id = item.Id})
		
	</h3>
	<hr/>
}