@using cms.shared
@{
	ViewBag.Title = ViewBag.ApplicationName + " - administrace ";
	Layout = "../_AdminTemplates/_Layout_Appllication.cshtml";
	var applicationName = ViewBag.Application;
	var applicationId = ViewBag.ApplicationId;
}

<div>
	@Html.ActionLink("Register new user", "Register")
</div>
<div>
	<h2>aplications</h2>
	@Html.Action("Applications")
</div>
<div>
	<h2>users</h2>
	@Html.Action("ListUsers")
</div>