@model cms.Controllers.TemplateSettings

<div>
	<div ng-show="item.Id">
		<button ng-click="edit(item)">edit</button>
		<button ng-click="remove(item)">smazat</button>
		<b>@Model.Type</b>
	</div>
	<div ng-show="item.Id==0">
		
		<select ng-model="item.Type">
			<option value="text">text</option>
			<option value="novinka">novinka</option>
		</select>
		
		<button ng-click="add(item)">Create</button>

	</div>
	
	<div ng-show="item.Edit" >
		@Html.Partial(Model.TemplateEdit)
	</div>
		@Html.Partial(Model.TemplateView)
</div>





