@{
	//Bundles.Reference("~/Scripts/Admin/aaaa.js");
}

<div ng-controller="novinka">
	<b>novinka</b>
	<div ng-show="item.Edit">
		<div>
			<textarea ng-model="data.Content.header" cols="10" rows="2"></textarea>
		</div>
		<div>
			<textarea ng-model="data.Content.text"></textarea>
		</div>
		<button ng-click="save()">Uložit</button>
	</div>
	
	@Html.Partial("_GridElementTmpl/novinka")

</div>
