<div>
	<textarea ng-model="gridelement.Content.header" cols="10" rows="2"></textarea>
</div>
<div>
	<textarea ng-model="gridelement.Content.text"></textarea>
</div>
<button ng-click="save(gridelement)">Uložit</button>
