<div>
	
	<textarea ng-model="gridelement.ResourcesLoc.text.Value"  rows="2" ></textarea>
	<textarea ng-model="gridelement.ResourcesLoc.prdel.Value"  rows="2" ></textarea>

	<button ng-click="aaa()">aaa</button>
</div>
