@{
	//Bundles.Reference("~/Scripts/Admin/aaaa.js");
}
<div ng-controller="text">
	<b>text</b>
	<div ng-show="item.Edit">
		<div>
			<textarea ng-model="data.Content" cols="10" rows="2"></textarea>
		</div>
		<button ng-click="save()">Uložit</button>
	</div>
	
	@Html.Partial("_GridElementTmpl/text")

</div>





