@using SquishIt.Framework
<!DOCTYPE html>
<html>	
	<head>
		<title>@ViewBag.Title</title>
		@Helpers.BundleCss("~/adminlayout#.css", x=>
				x.Add("~/Content/grid.css")
				.Add("~/Content/admin.less")
			)
		@Helpers.BundleJs("~/adminlayout#.js", x=>
				x.Add("~/Scripts/jquery-1.7.2.js")
				.Add("~/Scripts/angular.js")
				.Add("~/Scripts/angular-resource.js")

				.Add("~/Scripts/Admin")
				
				//TODO: misto add by tu melo byt neco jako AddUsers("novinka.coffee") aby se dalo overidnout default, user scripty jsou na spec. miste 				
				.Add("~/Scripts/Apps/defaults/_GridElementScripts/novinka.coffee")
				.Add("~/Scripts/Apps/defaults/_GridElementScripts/text.coffee")
				
				.Add("~/Scripts/showdown.js")
		)
	</head>

	<body>
		@RenderBody()
	</body>
</html>


