@using System.Web.Optimization
@using cms.Code
<!DOCTYPE html>
<html>	
	<head>
		<title>@ViewBag.Title</title>
		<script src=""></script>
		@Scripts.Render(
				"~/Scripts/jquery-1.7.2.js",
				"~/Scripts/jquery-ui.min.js",
				"~/Scripts/angular.js",
				"~/Scripts/angular-resource.js",
				"~/Scripts/angular-ui.js",
				"~/Scripts/angular-ui-ext-dndClass.js",
				"~/Scripts/angular-ui-ext.js",
				"~/Scripts/select2/select2.js",
				"~/Scripts/showdown.js",
				
				//.Add("~/Scripts/Admin")
				
				"~/Scripts/angular-templates-ext.coffee",
				"~/Scripts/Apps/defaults/_gridElementScripts/novinka.coffee",
				"~/Scripts/Apps/defaults/_gridElementScripts/text.coffee",
				"~/Scripts/Apps/defaults/_gridElementScripts/simplehtml.coffee",
				"~/Scripts/Apps/defaults/_gridElementScripts/reference.coffee",
				"~/Scripts/Apps/defaults/_gridElementScripts/textlocalized.coffee"
			)
		
		
		@Styles.Render(
				"~/Content/fluid_grid.css",
				"~/Scripts/select2/select2.css",
				//"~/Content/bootstrapdefault/less/dropdowns.less",
				//"~/Content/bootstrapdefault/less/bootstrap.less"
				"~/Content/admin.less"
			)
	
	</head>
	<body>
		@RenderBody()
	</body>
</html>


