@using SquishIt.Framework
<!DOCTYPE html>
<html>	
	<head>
		<title>@ViewBag.Title</title>
		<link rel="stylesheet" type="text/css" href="/Content/bootstrapdefault/less/bootstrap.less" />
		@Helpers.BundleCss("~/adminlayout#.css", x => x
				.Add("~/Content/grid.css")
				.Add("~/Scripts/select2/select2.css")
				.Add("~/Content/admin.less")
				.Add("~/Content/bootstrapdefault/less/bootstrap.less")
				.Add("~/Content/bootstrap.css")
			)
		@Helpers.BundleJs("~/adminlayout#.js", x =>x
				.Add("~/Scripts/jquery-1.7.2.js")
				.Add("~/Scripts/jquery-ui.min.js")
				.Add("~/Scripts/angular.js")
				.Add("~/Scripts/angular-resource.js")
				.Add("~/Scripts/angular-ui.js")
				.Add("~/Scripts/angular-ui-ext.js")
				.Add("~/Scripts/select2/select2.js")
				.Add("~/Scripts/angular-templates-ext.coffee")
				.Add("~/Scripts/Admin")
				
				//TODO: misto add by tu melo byt neco jako AddUsers("novinka.coffee") aby se dalo overidnout default, user scripty jsou na spec. miste 				
				.Add("~/Scripts/Apps/defaults/_gridElementScripts/novinka.coffee")
				.Add("~/Scripts/Apps/defaults/_gridElementScripts/text.coffee")
				.Add("~/Scripts/Apps/defaults/_gridElementScripts/simplehtml.coffee")
				.Add("~/Scripts/Apps/defaults/_gridElementScripts/reference.coffee")
				.Add("~/Scripts/Apps/defaults/_gridElementScripts/textlocalized.coffee")
				
				.Add("~/Scripts/showdown.js")
		)
	</head>
	<body>
		@RenderBody()
	</body>
</html>


