@using SquishIt.Framework
<!DOCTYPE html>
<html>	
	<head>
		<title>@ViewBag.Title</title>
		@Html.Raw(
			Bundle.Css()
				.Add("~/Content/grid.css")
				.Add("~/Content/admin.less")
				.Render("xxx.css")
			)
		@Html.Raw(
			Bundle.JavaScript()
				.Add("~/Scripts/jquery-1.7.2.js")
				.Add("~/Scripts/angular.js")
				.Add("~/Scripts/angular-resource.js")

				.Add("~/Scripts/Admin")
				
				.Add("~/Scripts/_GridElementScripts/novinka.coffee")
				.Add("~/Scripts/_GridElementScripts/text.js")
				
				.Add("~/Scripts/showdown.js")
				.Render("~/AdminLayout_index#.js")
			)
			
	</head>

	<body>
		@RenderBody()
	</body>
</html>


