<!DOCTYPE html>
<html ng-app>	
	<head>
		<title>@ViewBag.Title</title>
	
			@Helpers.BundleCss("~/adminlayout#.css", x => x
				.Add("~/Content/bootstrapdefault/less/bootstrap.less")
			)

	</head>
	
	<body>
		@RenderBody()
	</body>

</html>


