@{
	Layout = "../_AdminTemplates/_Layout_Appllication.cshtml";
	ViewBag.Title = "Settings";
}


@using cms.Code.LinkAccounts
@model cms.Code.LinkAccounts.GoogleDataOAuth2

	<h2>Google Data @Model.GetStatus()</h2>

@switch (Model.GetStatus())
{
	case GoogleDataOAuth2Status.Authorized:
		<div>
			Ok
		</div>
		break;

	case GoogleDataOAuth2Status.NotAuthorized:
		@Model.OAuth2AuthorizationUrl()
		Html.RenderPartial("Index_NotAuthorized", Model.Storage.Parameters);
		break;

	case GoogleDataOAuth2Status.NeedRefresh:
		<div>ajskbdkjasbdkjabsdk</div>
		break;
}
