@using cms.Code.LinkAccounts
@using cms.Controllers
@model cms.Code.LinkAccounts.GoogleDataOAuth2Service

@{
	Layout = "../_AdminTemplates/_Layout_Appllication.cshtml";
	ViewBag.Title = "Settings";
}

<style>
	.xxx h3, .xxx h5
	{
		margin: 0px;
		padding: 0px;
	}

	.xxx h3
	{
		line-height: 28px;
	}

	.xxx span
	{
		color: gray;
	}

	.xxx:hover span
	{
		color: gray;
	}
</style>

<h3>propojení se vzdálenými službami</h3>
@if (!string.IsNullOrEmpty(TempData["message"] as string))
{
	<div class="alert alert-success">
		@TempData["message"]
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
}

@switch (Model.GetStatus())
{
	case GoogleDataOAuth2Status.Authorized:
	<div>
		<table style="width: 100%">
			<tr>
				<td>
					<img src="@Url.Content("~/Content/images/picasa.png")"/>
				</td>
				<td>
					@using (Html.BeginForm("Revoke", "GData"))
	 {
						<button class="btn btn-danger btn-large" type="submit">zrušit přístup</button>
							    
	 }
				</td>
			</tr>

		</table>

		@Html.Partial("GdataPhotosSettins")

	</div>
	 break;

	case GoogleDataOAuth2Status.NotAuthorized:
	 Html.RenderPartial("Index_NotAuthorized", Model.Storage.Parameters);
	 break;

	case GoogleDataOAuth2Status.NeedRefresh:
	 Html.RenderPartial("Index_ReAuthorize", Model);



	 break;
}

