@{
	Layout = "../_AdminTemplates/_Layout_Appllication.cshtml";
	ViewBag.Title = "Settings";
}


@model cms.Code.LinkAccounts.GoogleDataOAuth2

	<h2>Google Data</h2>

@if (Model.IsAuhtorized())
{
	<div>
		Ok
	</div>
}
else
{
	
	
	
@Model.OAuth2AuthorizationUrl()
	Html.RenderPartial("Index_NotAuthorized", Model.Storage);

	
	}
https://accounts.google.com/o/oauth2/auth?
scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&
state=%2Fprofile&
redirect_uri=https%3A%2F%2Foauth2-login-demo.appspot.com%2Fcode&
response_type=code&
client_id=812741506391.apps.googleusercontent.com&
access_type=offline

