<!DOCTYPE html>
<html ng-app>	

	<head>
		<title>@ViewBag.Title</title>
		@{
			Bundles.Reference("~/Scripts/jquery-1.7.2.js");
			Bundles.Reference("~/Scripts/angular.js");
		}
	
		@Bundles.RenderScripts()

	</head>

	<body>
		@RenderBody()
	</body>
</html>


