<!DOCTYPE html>
<html ng-app>	

	<head>
		<title>@ViewBag.Title</title>
		@Helpers.BundleJs("test1#.js", x =>
			x.Add("~/Scripts/jquery-1.7.2.js")
			.Add("~/Scripts/angular.js")
		)

	</head>

	<body>
		@RenderBody()
	</body>
</html>


