@{
	ViewBag.Title = "index";
	Layout = "_Layout.cshtml";
}
@model cms.data.Dtos.GridPageDto


SERVER RENDER  <br />
------------------------------------------<br />

@Model.Name
@foreach (var line in Model.Lines)
{
	foreach (var item in line)
	{
		<div>
			@item.Content
		</div>
	}
}




AJAX RENDER  <br />
------------------------------------------<br />
<h2>client test1 index</h2>
<a href="/clientapi/test1/ContentElement" class="test" >XXXX</a>
<a href="/service/client.svc/echo" class="testx" >http://localhost:62364/service/client.svc/Echo</a><br />
<a href="/service/client.svc/GetGridpage" class="testxx" >gridpage </a><br />


@*service pripravena, zakomentovana - zatim neni potreba 
<a href="/service/client.svc/GetGridpageJson?ApplicationName=test1&Link=linkTestPage&callback=xxxx" class="json" >gridpageJson JSONP client.svc</a>
*@

<br />
<a href="http://localhost:62728/client/json/7683508e-0941-4561-b9a3-c7df85791d23/linkTestPage?callback=xxx" class="json" >gridpageJson JSONP</a>


<div>
	<h1>RESOURCES</h1>
	
	<ul>
		<li>/Scrips/Apps/test1/_GridElementScripts - text.coffee, novinka.coffee ... </li>
		<li>/Views/client/test1/  </li>
	</ul>


</div>

<script>
	$(document).ready(function () {
		$(".test").click(function (e) {
			e.preventDefault();
			$.ajax({
				type: "post",
				url: $(this).attr("href")
			});
		});

		$(".testx").click(function (e) {
			e.preventDefault();
			$.ajax({
				type: "get",
				url: $(this).attr("href"),
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				success: function (data) {
					console.log(data);
				},
				error: function (data) {
					console.log("err");
				}
			}
			);
		});

		$(".testxx").click(function (e) {
			var rq = { ApplicationName: "test1", Link: "aaa" };

			e.preventDefault();
			$.ajax({
				type: "post",
				url: $(this).attr("href"),
				dataType: "json",
				contentType: "application/json; charset=utf-8",

				data: JSON.stringify({ rq: rq }),
				success: function (data) {
					console.log(data);
				},
				error: function (jqXHR, textStatus, errorThrown) {
					console.log(jqXHR, textStatus, errorThrown);
				}
			}
			);
		});
		function xxx() {
			
		}
		$(".json").click(function (e) {
			e.preventDefault();
			//var rq = { ApplicationName: "test1", Link: "aaa" };

			var send = $.ajax({
				//crossDomain: true,
				type: "GET",
				url: $(this).attr("href"),
				dataType: "jsonp",
				contentType: "application/json; charset=utf-8"
				//data: JSON.stringify({ rq: rq })
			}
			);

			send.done(function (data) {
				console.log("oka", data);
			})
			.fail(function (data) {
				data.then(function (xx) {
					console.log(xx)
				})
				console.log("fails", data,data.responseText);
			});
		});
	})
</script>