<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<clear />
		<add name="EfContext"
			connectionString="server=sql5.aspone.cz;uid=db2524;pwd=SuperSmrad12;database=db2524"
			providerName="System.Data.SqlClient"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

	</connectionStrings>
	<appSettings>
		<add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="Gdata_ClientId"  value="1055048380811.apps.googleusercontent.com" />
		<add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="Gdata_ClientSecret" value="9oVMXkbkbYlH8CppoJd9uWXH" />
	</appSettings>

	<system.web>
		<compilation debug="true" xdt:Transform="SetAttributes"></compilation>
	</system.web>
</configuration>