<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<clear />
		<add name="EfContext"
			connectionString="server=192.168.1.5;uid=db4941;pwd=supersmrad1;database=db4941" 
			providerName="System.Data.SqlClient"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

	</connectionStrings>

	<system.web>
		<compilation debug="false" xdt:Transform="SetAttributes"></compilation>
	</system.web>
</configuration>