@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
		
}

<style>
	.ui-state-highlight {
		border-bottom: 1px solid red;
		width: 100%;
		height: 0px;
	}
	.menuitem {
		display: inline-block;
		border: 1px solid gray;
		padding: 10px;
	}
	
	.column {
		background-color: #aaa;
		width: 100%;
		height: 100px;
	}
	.xx {
		background-color: #eee;
	}
	
	.dragover {
		background-color: red;
		height: 100px; 
	}
	#columns {
		width: 100px;
		padding: 100px;
	}
	.dropplaceholder {
		width: 100%;
	}
	
</style>

<div id="columns">
	<div class="dropplaceholder drop">.</div>
	<div class="column" draggable="true">
		<header>AAA</header>
		<div class="xx"></div>
	</div>
	<div class="dropplaceholder drop">.</div>
	<div class="column" draggable="true">
		<header>BBB</header>
		<div class="xx"></div>
	</div>
	<div class="dropplaceholder drop">.</div>
	<div class="column" draggable="true">
		<header>CCC</header>
		<div class="xx"></div>
	</div>
	<div class="dropplaceholder drop">.</div>
</div>

<div class="drop">
	<h1>Drop</h1>
</div>



<script type="text/javascript">
	$(document).ready(function (event) {
		var dragoverClass;
		dragoverClass = "dragover";

		$(".column").on("dragstart", function (e) {
			console.log("dragstart", $(this));
		});

		$(".column").on("drag", function (e) {
			//console.log("drag");
		});

		$(".column").on("dragenter", function (e) {
			console.log("dragenter", $(this));
		});

		$(".column").on("dragleave", function (e) {
			console.log("dragleave");
		});

		$(".column").on("drop", function (e) {
			console.log("drop column");
		});

		$(".column").on("dragend", function (e) {
			console.log("dragend");
		});

		$(".column").on("dragover", function (e) {
			console.log("dragover");
		});


		$(".drop").on("dragover", function (e) {
			e.stopPropagation();
			e.preventDefault();
			console.log("dragover");
		});
		$(".drop").on("drop", function (e) {
			e.stopPropagation();
			e.preventDefault();
			console.log("drop", $(this));
		});


		$(".dropplaceholder").on("dragenter", function (e) {
			$(this).addClass(dragoverClass);
		});

		$(".dropplaceholder").on("dragover", function (e) {
			if (!$(this).hasClass(dragoverClass)) {
				$(this).addClass(dragoverClass);
			}
		});

		$(".dropplaceholder").on("dragleave", function (e) {
			$(this).removeClass(dragoverClass);
		});



	});
</script>

