
@media -stylus-debug-info{filename{font-family:file\:\/\/C:\Users\ladik\AppData\Roaming\npm\node_modules\stylus\lib\functions\index\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/C:\lades\Weby\cms\cms\Content\aaa\.styl}line{font-family:\000031}}
body {
  font: 12px Helvetica, Arial, sans-serif;
}

@media -stylus-debug-info{filename{font-family:file\:\/\/C:\lades\Weby\cms\cms\Content\aaa\.styl}line{font-family:\000034}}
a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
