.clickable {
	cursor:pointer;
}

.row.color:hover {
  background-color: #2E8BCC;
}

.row {
  &.newitem {
    border: 1px dotted #2f96b4;
  }
}

.align-left {
  text-align: left;
}

.admin-inline-block {
  padding: 6px 0px;
  display: inline-block;
}

.font-icon-big {
  font-family: 'Segoe UI Symbol';
  font-size: 150%;
}

.row-gridpages {
  margin-left: 0px;
  margin-bottom: 1px;

  &.color {
	background-color: #eaeeee;

	&:hover {
	  background-color: #bbb;
	}
  }

  &.color_auth {
	background-color: #bfcbcb;

	&:hover {
	  background-color: #949494;
	}
  }

  &.header {
	opacity: 0;

	&:hover {
	  opacity: 1;
	}
  }

  [class*="span"]:first-child {
	margin-left: 0px;
  }
}

.font-icon {
  font-family: 'Segoe UI Symbol';
  font-size: 100%;
  min-width: 1em;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: middle;
  display: inline-block;

  &.ok:before {
	content: "\E001";
  }
  &.edit:before {
	content: "\E104";
  }
  &.delete:before {
	content: "\E107";
  }
  &.Menu:before {
	content: "\E0F5";
  }
  &.menu:before {
	content: "\E0F5";
  }
  &.page:before {
	content: "\E154";
  }
  &.Page:before {
	content: "\E154";
  }
  &.close:before {
	content: "\E0A4";
  }
}

.menuCtrlClass {
  ul {
	list-style: none;
  }
}

.ngc-click-edit {

}

.ngc-click-edit-preview {
  cursor: pointer;
  display: block;
  &.large {
	line-height: 44px;
	font-size: 28px;
  }

  &.small {

  }

  &.empty {
	color: #d5d5d5;
  }

  &.empty {
	font-weight: normal;
  }

  &.empty:hover {
	color: darkgrey;
	border: 1px dashed darkgrey;
  }
  border: 1px dashed #d5d5d5;
}

.ngc-click-edit-textarea {
  max-width: 99%;
  width: 99%;
}

.ngc-click-edit-input {
  width: 100%;
  &.large {
	line-height: 44px;
	font-size: 28px;
  }
  &.small {
  }
}

.gridpage {
  .contentitem {
	border-bottom: 2px solid greenyellow;
	background-color: #f5f5f5;
  }
  .contentitem:hover {
	background-color: #eaeeee;
  }
  .row:last-child {
	margin-top: 1em;
  }
  .gridelement-controls {
	float: right;
  }
  .gridelement-content {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
  }

}

.xxx {

  ul {
  }

  .menuitem {
	width: 100%;
  }

  span.ng-scope {
	display: block;
	height: 0px;
  }

  .dropableCtrl {
  }

  .dropableCtrl.dragging {
	height: 20px;
  }

  .dropableCtrl.dragover {
	background-color: #eee;
	border: 1px solid #aaa;
	height: 42px !important;
  }

  .draggableCtrl.dragged {
	opacity: 0.4;
  }
}

.menu2 {
  border: 1px solid #ededed;
}

.ggg {
  @vyska: 70px;

  span.ng-scope {
	display: block;
	height: 0px;
  }

  .dropableCtrl {
	height: @vyska;
	background-color: #eee;
  }

  .dropableCtrl.dragging {
  }

  .dropableCtrl.dragover {
	background-color: Yellow;
  }

  .draggableCtrl, .sortableCtrl {
	background-color: #aaa;
  }

  .draggableCtrl, .sortableCtrl {
	margin-top: 10px;
	height: @vyska;
  }

  .draggableCtrl.dragged, .sortableCtrl.dragged {
  }
}

a.color {
  color: #f5f5f5;
}

a.color:hover {
  text-decoration: none;
}

.admin-index {
  .row {
    margin-left: 0px;
	margin-bottom: 2px;
  }
  .row a {
	color: #f5f5f5;
  }
  .row.color {
	background-color: #2f96b4;
	color: #f5f5f5;
  }

  .ngc-click-edit-preview {
	margin-top: 13px;
  }
  .ngc-click-edit-input {
	margin-top: 13px;
  }
}


#admin-gridpages {
  .gridpage-text {
	padding: 10px;
  }

  .hider {
	display: none;
  }

  .gridpage-input {
	padding: 7px;
  }
  span.gridpage-input {
	display: inline-block;
  }

}


#admin-cmsUsers {

  .gridpage-input {
	padding: 7px;
  }

}

.photo-settings-page {
	.control-group {
		margin-bottom: 0px;
	}
	legend + .control-group {
		margin-top: 5px;
	}
}

