body{
  font-family: "Segoe UI", "Segoe WP", Helvetica, "Lucida Grande", sans-xxxxx;
}

h1{
  font-size: 300%;
}

h2{
  font-size: 200%;
}

h3{
  font-size: 100%;
}

.adminheader{
  color: red;
  @aMainmenu: #fff;
  @aMainmenuHover: #ff7f50;

  a {
    text-decoration: none;
	color: @aMainmenu;
    &:hover { color: @aMainmenuHover; }
    &:visited { color: @aMainmenu; }

  }

  ul.mainmenu li{
    display: inline-block;
    background-color: #222222;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
}

#asasdasd{
	
}

.admincontent{
  margin: 1em;
}

ul{
	list-style: none;
}

	

.xxx{
	
	ul{
	
	}
	.menuitem{
		width:100%;
	}

	span.ng-scope{
		display:block;
		height:0px;
	}
	.dropableCtrl{
	}
	.dropableCtrl.dragging{
		height:20px;
	}
	.dropableCtrl.dragover{
		background-color:#eee;
		border:1px solid #aaa;
		height:42px !important;
	}
	.draggableCtrl.dragged{
		opacity:0.4;
	}
	
}

.menu2{
	border:1px solid #ededed
}

ul.ggg{
	margin:0px;
}
.ggg{
	@vyska: 90px;
	span.ng-scope{
		display:block;
		height:0px;
	}
	.dropableCtrl{
		width:10px;
		height:@vyska;
		float:left;
		background-color:#eee;
	}
	.dropableCtrl.dragging{
	}
	.dropableCtrl.dragover{
		background-color: Yellow;
	}
	.draggableCtrl{
		float:left;
		width:170px;
		background-color:#aaa;
	}
	.draggableCtrl{
		height:@vyska;
	}

	.draggableCtrl.dragged{
		opacity:0.4;
	}

}
