body {
  font-family: "Segoe UI", "Segoe WP", Helvetica, "Lucida Grande", sans-xxxxx;
}
h1 {
  font-size: 300%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 100%;
}
.adminheader {
  color: red;
}
.adminheader a {
  text-decoration: none;
  color: white;
}
.adminheader a:hover {
  color: coral;
}
.adminheader a:visited {
  color: white;
}
.adminheader ul.mainmenu li {
  display: inline-block;
  background-color: #222222;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.admincontent {
  margin: 1em;
}
ul {
  list-style: none;
}
.xxx .menuitem {
  width: 100%;
}
.xxx span.ng-scope {
  display: block;
  height: 0px;
}
.xxx .dropableCtrl.dragging {
  height: 20px;
}
.xxx .dropableCtrl.dragover {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  height: 42px !important;
}
.xxx .draggableCtrl.dragged {
  opacity: 0.4;
}
.menu2 {
  border: 1px solid #ededed;
}
.ggg span.ng-scope {
  display: block;
  height: 0px;
}
.ggg .dropableCtrl {
  height: 70px;
  background-color: #eeeeee;
}
.ggg .dropableCtrl.dragover {
  background-color: Yellow;
}
.ggg .draggableCtrl,
.ggg .sortableCtrl {
  background-color: #aaaaaa;
}
.ggg .draggableCtrl,
.ggg .sortableCtrl {
  margin-top: 10px;
  height: 70px;
}
