body {
  font-family: "Segoe UI", "Segoe WP", Helvetica, "Lucida Grande", sans-xxxxx;
}
h1 {
  font-size: 300%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 100%;
}
.adminheader {
  color: red;
}
.adminheader a {
  text-decoration: none;
  color: white;
}
.adminheader a:hover {
  color: coral;
}
.adminheader a:visited {
  color: white;
}
.adminheader ul.mainmenu li {
  display: inline-block;
  background-color: #222222;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.admincontent {
  margin: 1em;
}
ul {
  list-style: none;
}
.xxx .menuitem {
  width: 100%;
}
.xxx span.ng-scope {
  display: block;
  height: 0px;
}
.xxx .dropableCtrl.dragging {
  height: 20px;
}
.xxx .dropableCtrl.dragover {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  height: 42px !important;
}
.xxx .draggableCtrl.dragged {
  opacity: 0.4;
}
.ggg li {
  float: left;
  margin: 1px;
  width: 150px;
}
.ggg span.ng-scope {
  display: block;
  height: 0pxx;
}
.ggg .dropableCtrl {
  width: 0px;
  float: left;
  border: 1px solid green;
}
.ggg .dropableCtrl.dragover {
  background-color: #eeeeee;
  border: 1px solid red;
}
.ggg .draggableCtrl {
  float: left;
  border: 1px solid gray;
  width: 150px;
}
.ggg .draggableCtrl {
  height: 70px;
}
.ggg .draggableCtrl.dragged {
  opacity: 0.4;
}
