body {
  font-family: "Segoe UI", "Segoe WP", Helvetica, "Lucida Grande", sans-xxxxx;
}
h1 {
  font-size: 300%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 100%;
}
.adminheader {
  color: red;
}
.adminheader a {
  text-decoration: none;
  color: white;
}
.adminheader a:hover {
  color: coral;
}
.adminheader a:visited {
  color: white;
}
.adminheader ul.mainmenu li {
  display: inline-block;
  background-color: #222222;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.admincontent {
  margin: 1em;
}
