@model System.Collections.Generic.List<cms.data.Shared.Models.UserProfile>

@{
	Layout = "../_AdminTemplates/_Layout_Appllication.cshtml";
	ViewBag.Title = ViewBag.ApplicationName + " - administrace ";
}

<h2>titllkjabnsdkjbe</h2>
@foreach (var item in Model)
{
	<div> @item.Id</div>
	<div> @item.UserName</div>
	<div> @item.ApplicationUser</div>
	<div> -----------</div>
}