@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	var applicationName = ViewBag.Application;
	var applicationId = ViewBag.ApplicationId;
}

@Html.Partial("_navbar")

<div class="container">
	@RenderBody()
</div>