@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	var applicationName = ViewBag.Application;
	var applicationId = ViewBag.ApplicationId;
}
<script type="text/javascript" src="@Url.Content(string.Format("~/api/{0}/Resources/Scripts", ViewBag.ApplicationId))"></script>

@Html.Partial("_navbar")

<div class="container">
	@RenderBody()
</div>