@using cms.shared
@{
    ViewBag.Title = "DashBoard";
    Layout = "../_AdminTemplates/_Layout_Appllication.cshtml";
}

<ul>
    <li>
        @Html.ActionLink("nastaveni", "Index", "Gdata")
    </li>
    <li>
        @Html.ActionLink("grids", "Grids", "Admin")
    </li>
</ul>
