@using cms.shared
@{
	ViewBag.Title = "DashBoard";
	Layout = "../_AdminTemplates/_Layout_Appllication.cshtml";
}


<h3>@Html.ActionLink("Galerie","DataContent" )</h3>s
<h3>@Html.ActionLink("Galerie","DataContent" )</h3>
<h3>@Html.ActionLink("Galerie","DataContent" )</h3>
<h3>@Html.ActionLink("Galerie","DataContent" )</h3>