@{
    ViewBag.Title = "DashBoard";
    Layout = "../_AdminTemplates/_Layout_Appllication.cshtml";
}

<ul>
    <li>
        @Html.ActionLink("obsah", "Grids", "Admin")
    </li>
    <li>
        @Html.ActionLink("nastavení", "Index", "Gdata")
    </li>
</ul>
