@using cms.shared
@{
	ViewBag.Title = "Data Content";
	Layout = "../_AdminTemplates/_Layout_Appllication.cshtml";
	var applicationName = ViewBag.Application;
	var applicationId = ViewBag.ApplicationId;
}


<div>
	data z GdataPhotosController
</div>