<h2><a href="#list">Edit</a></h2>

<div ng-controller="xxx">
	<h2>{{$parent.data.Name}}</h2>
	
	<div ng-repeat="item in $parent.data.GridElements">
		<input ng-model="item.Content"/>
		-{{item.Content}}	
	</div>
</div>
