@{
    ViewBag.Title = "grids";
	Layout = "_Layout.cshtml";

	Bundles.Reference("~/Scripts/showdown.js");
	
	Bundles.Reference("~/Scripts/Admin");
	
	Bundles.Reference("~/Scripts/_GridElementScripts/text.js");
	Bundles.Reference("~/Scripts/_GridElementScripts/novinka.js");
	
	var ApplicationName = ViewBag.Application;
	}

<h2>@ApplicationName</h2>
@Html.ActionLink("back","index","admin")


<div ng-app="gridsmodule"
	 data-application-name="@ApplicationName"
	 class="gridsmodule"
	>
	<div ng-view>
		
	</div>
</div>
