@using cms.shared
@{
	ViewBag.Title = "Grids";
	Layout = "_Layout_Appllication.cshtml";

	var applicationName = ViewBag.Application;
	var applicationId = ViewBag.ApplicationId;
}

<div ng-app="gridsmodule"
	 data-application-name="@applicationName"
	 data-application-id="@applicationId"
	 data-application-culture="@SharedLayer.Culture"
	 class="gridsmodule"
	>

	@UserResources.RenderHtmlTemplates(Html, applicationId)

	<div ng-controller="cultureCtrl">
		<div class="btn-group" >
			<button class="btn" ng-class="{ active:currentCulture  == 'cs' }" href="#" ng-click="setCulture('cs')">cs</button>
			<button class="btn" ng-class="{ active:currentCulture  == 'en' }" href="#" ng-click="setCulture('en')">en</button>
		</div>
	</div>

	<div ng-view>
	</div>
</div>
