@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "Index";

}
<style>
	body
	{
		padding: 0px;
	}
</style>

<div ng-app="admin-index" class="container admin-index">

	<div class="page-header">
		<h2>Aplikace</h2>
	</div>
	<div ng-controller="index" data-model="@ViewBag.Json"  >

		<div ng-repeat="item in data" class="row color ">
			<div class="span8">
				<a href="/render/{{item.Id}}/admin/grids" class="btn-link align-left color">
					<h1>{{item.Name}}</h1>
				</a>
				<span>{{item.Id}}&nbsp;</span>
			</div>
		</div>

		<div class="row newitem ">
			<form ng-submit="add()">
				<div class="span8">
					<h1 ngc-click-edit="newitem" type="input" placeholder="přidat novou"><button class="btn btn-" type="submit">přidat</button></h1>
					<span>&nbsp;</span>
				</div>
				<div class="span2">
					<h1><button class="btn btn-large" type="submit">přidat</button></h1>
				</div>
			</form>
		</div>

		<span>{{data.length}} celkem </span>
	</div>
</div>

