@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "Index";

}
<div ng-app>
	<div ng-controller="index" data-model="@ViewBag.Json" class="container" >
		<ul>
			<li ng-repeat="item in data">
				<a href="/admin/{{item.Name}}/grids">{{item.Name}}</a> |
				<a href="/client/{{item.Name}}">Preview</a>
			</li>
		</ul>
	
		<form ng-submit="add()" class="form-inline">
			<input type="text" ng-model="newitem"  size="30" placeholder="pridat dalsi">
			<button class="btn" type="submit" >přidat</button>
		</form>
		<span>{{data.length}} total </span>
	</div>
</div>

